<header id="content-header">
  <h2>Reviews for <%= link_to @movie.title, @movie %></h2>
</header>

<ol id="reviews" >
<% @reviews.each do |r| %>
  <li>
    <span class="review"><%= pluralize(r.stars,"star")%> </span>
    <span class="user">by <%= r.name %> </span>
    <span class="date"><%= time_ago_in_words(r.updated_at) %> ago</span>
    <p>
      &quot;<%= r.comment %>&quot;
    </p>
     <%= link_to "Edit", edit_movie_review_path(@movie,r) %>
     <%= link_to "Delete", movie_review_path(@movie,r), method: :delete %>
  </li>
<% end %>
</ol>
